.card {
  margin: 2rem 0;
  max-width: 40rem;
}

.cardImage {
  /* height: 100%; */
  width: 100%;
  height: 14rem;
  max-width: 8.75rem;
  object-fit: cover;
}

@media screen and (max-width: 640px) {
  .cardImage {
    max-height: 14rem;
    max-width: 8.75rem;
  }
}
